<div class="main-wrapper">
  <h1 style = "font-size: 3rem; color:#3F51B5; padding-bottom: 5%;">The Newsroom</h1>
  <mat-card class="box">
      <mat-card-header>
          <mat-card-title>Anmelden</mat-card-title>
      </mat-card-header>

      <form  [formGroup] = "form">
          <div style = "color: #cccccc; margin-bottom: 5%;">

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
                <input matInput type = "text" [formControl] = "username" >
            </mat-form-field>


            <mat-form-field class="example-full-width" >
              <mat-label>Passwort</mat-label>
                <input matInput type = "password" [formControl] = "password">
            </mat-form-field>
            <span style = "cursor: pointer;" routerLink="/register" >Noch kein Account? Hier registrieren.</span>
          </div>
      </form>
      <button style="margin-top: 2%;" mat-stroked-button color=primary (click) = "login()" class="btn-block">Anmelden</button>
      <button style="margin-top: 5%;" mat-stroked-button color=primary (click) = "googleLogin()" class="btn-block">Mit Google Anmelden</button>
  </mat-card>
</div>
